<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	
    <h:head>
        <title>Cadastro Cliente</title>
    </h:head>
    
    
    <h:body>
    	
		<ui:composition template="/template/template.xhtml">  
			<ui:define name="content">
		    	<h2>Cadastro Cliente</h2>
				<h:form>
					 <ui:include src="result.xhtml" />
					 <ui:include src="insert.xhtml" />
			    </h:form>
			</ui:define>
		</ui:composition>   
    </h:body>
</html>
