<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
       <p:panelGrid>
	   		<p:panel>
	   			<h4>Pesquisa de clientes</h4>
		    	<br/>
	   			Nome: <p:inputText value="#{clientController.searchFilter.name}"></p:inputText>
		   	    <p:commandButton value="Pesquisar" ajax="false" action="#{clientController.searchClient}"></p:commandButton>
	   		</p:panel>
	   		<h3>Lista de clientes</h3>
	   		<p:dataTable value="#{clientController.clients}" var="currentClient" id="clientResult">
	   			<p:column>
	   				<f:facet name="header">Nome</f:facet>
	   				#{currentClient.name}
	   			</p:column>
	   			<p:column>
	   				<f:facet name="header">CPF</f:facet>
	   				#{currentClient.documentNumber}
	   			</p:column>
	   			<p:column>
	   				<f:facet name="header">Data nascimento:</f:facet>
	   				<h:outputText value="#{currentClient.birthdayDate}" disabled="true" >
	   					<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
	   				</h:outputText>
	   			</p:column>
	   			<p:column>
	   				<f:facet name="header">Gênero</f:facet>
	   				#{currentClient.gender}
	   			</p:column>
	   			<p:column>
	   				<f:facet name="header">Ações</f:facet>
		   	   		<p:commandButton value="Excluir"  ajax="false"  action="#{clientController.deleteClient}">
		   	   			<f:setPropertyActionListener target="#{clientController.clientId}" value="#{currentClient.id}"></f:setPropertyActionListener>
		   	   		</p:commandButton>
		   	    	<p:commandButton value="Alterar"  ajax="false" action="#{clientController.requestClientUpdate}">
		   	   			<f:setPropertyActionListener target="#{clientController.client}" value="#{currentClient}"></f:setPropertyActionListener>
		   	    	</p:commandButton>
	   			</p:column>
	   		
	   		</p:dataTable>
	   
	   </p:panelGrid>
	   
	   <p:commandButton value="Incluir" ajax="false" action="#{clientController.requestClientInsert}"></p:commandButton>
</html>