<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cj="http://java.sun.com/jsf/composite/cj">
    
    <h:body>
    	
		<ui:composition template="/template/template.xhtml">  
			<ui:define name="content">
		    	<h2>Exemplo Componente</h2>
				<h:form>
					<cj:exemploComponente cep="#{componenteController.cep}" endereco="#{componenteController.endereco}"></cj:exemploComponente>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</html>