<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
      <h:body>
      	<ui:composition>
      		
      		<h:head></h:head>
      		<h1>
      			Curso Java
      		</h1>
      		<hr/>
      		
      		<p:menubar>
      			<p:menuitem url="/pages/cliente/cadastro/index.xhtml" value="Cadastro de Clientes"> </p:menuitem>
      			<p:menuitem url="/pages/exemploComponente/index.xhtml" value="Exemplo Componente"> </p:menuitem>
      		</p:menubar>
      		
      		<h:form id="formMensagens">
			    	<p:messages showDetail="true" id="mensagens"/>
      		</h:form>
      		<hr/>
      	</ui:composition>
      </h:body>
      
</html>