<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">
      
      <composite:interface>
      	<composite:attribute name="cep"></composite:attribute>
      	<composite:attribute name="endereco"></composite:attribute>
      </composite:interface>
      
      <composite:implementation>
		<h:inputText value="#{cc.attrs.cep}" id="cep">
			<f:ajax event="change" render="endereco" execute="cep"></f:ajax>
		</h:inputText>      
        <h:inputText value="#{cc.attrs.endereco}" id="endereco"></h:inputText>
      </composite:implementation>
</html>